<div class="sidebar">
  <ul>
    <li>
      <div class="akoBasMora">
        <a routerLink="/register">
            <img
            class="slicica-sidebar"
            src="assets/1200px-Magnifying_glass_icon.svg.png"
            alt=""
        />
        <span class="title">Search </span></a>
      </div>
    </li>
    
    <li>
    <div class="akoBasMora">
        <a routerLink="/home">
      <img class="slicica-sidebar" src="assets/house.webp" alt="" />
      <span class="title">Home </span></a>
    </div>
</li>
<li>
    
    <div class="akoBasMora">
        <a routerLink="/requests">
      <img class="slicica-sidebar" src="assets/paper.png" alt="" />
      <span class="title">Work Requests</span></a>
    </div>
</li>
<li>
    <div class="akoBasMora">
        <a routerLink="/map">
      <img class="slicica-sidebar" src="assets/web.webp" alt="" />
      <span class="title">Map</span></a>
    </div>
</li>
<li>
    <div class="akoBasMora">
        <a routerLink="/switching">
      <img class="slicica-sidebar" src="assets/phone-512.webp" alt="" />
      <span class="title">Switching Plans </span></a>
    </div>
</li>
<li>
    <div class="akoBasMora">
        <a routerLink="/incidents">
      <img class="slicica-sidebar" src="assets/suitcase.webp" alt="" />
      <span class="title">Incindenti </span></a>
    </div>
</li>
<li>
    <div class="akoBasMora">
        <a routerLink="/safety">
      <img class="slicica-sidebar" src="assets/emoji.jpg" alt="" />
      <span class="title">Safety Document </span></a>
    </div>
</li>
<li>
    <div class="akoBasMora" *ngIf="showLjudi">
        <a routerLink="/approve">
      <img class="slicica-sidebar" src="assets/people.png" alt="" />
      <span class="title">Ljudi </span></a>
    </div>
</li>
<li style="margin-top: 140px; position: absolute;">
    <div class="akoBasMora">
        <a routerLink="/settings">
      <img class="slicica-sidebar" src="assets/settings-solid.png" alt="" />
      <span class="title">Setting </span></a>
    </div>
</li>
<li style="margin-top: 190px; position: absolute;">
    <div class="akoBasMora">
        <a routerLink="/notifications">
      <img class="slicica-sidebar" src="assets/102bell.png" alt="" />
      <span class="title">Zvonce </span></a>
    </div>
</li>
<li style="margin-top: 240px; position: absolute;">
    <div class="akoBasMora"  >
        <a routerLink="" (click)="logOut()">
      <img class="slicica-sidebar" src="assets/upload.png" alt="" />
      <span class="title">Log out </span></a>
    </div>
  </li>


  <li style="margin-top: 290px; position: absolute;">
    <div class="akoBasMora">
        <a routerLink="/userInfo">
      <img class="slicica-sidebar" src="assets/u2.png" alt="" />
      <span class="title">User Info</span></a>
    </div>
</li>
  </ul>
</div>


<div class="personal">

  <a (click)="showPersonal()">
    <img class="slicica-sidebar" style="width:70px;height:70px" src="assets/u2.png" alt="" />
    <span class="title">User Info</span></a>
    <div class="info" *ngIf="show">

      <app-user-info></app-user-info>
    </div>

</div>