
<div style="position: absolute; margin-left: 150px; margin-top: 50px;">
    <label  for="">Stara lozinka:</label>
    <input style="width: 200px; height: 30px;" class="form-control" type="text">

    <label for="">Nova lozinka:</label>
    <input style="width: 200px; height: 30px;" class="form-control" type="text">

    <label for="">Potvrda nove lozinke:</label>
    <input style="width: 200px; height: 30px;" class="form-control" type="text">

    <br/>
    <button class="btn btn-dark">Done</button>

</div>

<app-side-bar></app-side-bar>