<div class='sidebar'>

    <div class="akoBasMora">
        <a  href="/register"><img class="slicica-sidebar"  src="assets/1200px-Magnifying_glass_icon.svg.png" alt=""></a>
    </div>

    <br/>
    <br/>
    
    <div class="akoBasMora">
        <img class="slicica-sidebar" src="assets/house.webp" alt="">
    </div>

    <br/>
    <br/>

    <div class="akoBasMora">
        <img class="slicica-sidebar" src="assets/paper.png" alt="">
    </div>

    <br/>
    <br/>

    <div class="akoBasMora">
        <img class="slicica-sidebar" src="assets/web.webp" alt="">
    </div>

    <br/>
    <br/>
    
    <div class="akoBasMora">
        <img class="slicica-sidebar" src="assets/phone-512.webp" alt="">
    </div>

    <br/>
    <br/>

    <div class="akoBasMora">
        <img class="slicica-sidebar" src="assets/suitcase.webp" alt="">
    </div>

    <br/>
    <br/>
    
    <div class="akoBasMora">
        <img class="slicica-sidebar" src="assets/emoji.jpg" alt="">
    </div>

    <br/>
    <br/>

    <div class="akoBasMora">
        <img class="slicica-sidebar" src="assets/people.png" alt="">
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="akoBasMora">
        <img class="slicica-sidebar" src="assets/settings-solid.png" alt="">
    </div>

    <br/>
    <br/>

    <div class="akoBasMora">
        <img class="slicica-sidebar" src="assets/102bell.png" alt="">
    </div>

    <br/>
    <br/>

    <div class="akoBasMora">
        <img class="slicica-sidebar" src="assets/upload.png" alt="">
    </div>

</div>
