.tabela-div {
    position: absolute;
    border: 3px gray;
    border-style: solid;

  
    width: 750px;
  
 
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 25%;
  }
  