


<div style="position: absolute; left: 120px; top: 200px;" class="tabela-link">

    <table class="table table-borderless">
      
          <tr>
            <th scope="col"><button  type="button" routerLink="./" class="btn btn-link">Unread notifications</button></th>
          </tr>
          <tr>
            <th scope="col"><button  type="button" routerLink="readNotifications" class="btn btn-link">Read notifications</button></th>
          </tr>
          <tr>
            <th scope="col"><button  type="button" routerLink="errorNotifications"  class="btn btn-link">Errors <img height="30" width="20" src="assets/erer.png" alt=""></button></th>
          </tr>
          <tr>
            <th scope="col"><button  type="button" routerLink="successNotifications" class="btn btn-link">Success <img height="24" width="18" src="assets/caocao.webp" alt=""></button></th>
          </tr>
          
      </table>

</div>

<div style="left: 440px; top: 193px; position: absolute;">
  <router-outlet>
  </router-outlet>
</div>


<app-side-bar></app-side-bar>
