.bg{

position: absolute;
left: 550px;
top: 20px;
height: 250px;
padding-left: 25px;
padding-right: 25px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 35px;
background: gainsboro;
border: 4px lightgray;
border-style: outset;
}