


<div class="dash-model-incindents">
    <table>
        <tr>
            <th>
                <h4 style="margin-top: 15px; margin-left: 10px;">MY INCIDENTS</h4>
            </th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>
                <img height="23" width="23" style="margin-top: 10px;" src="assets/w9.png" alt="">
            </th>
            <th>
                <h3>8</h3>
            </th>
            
        </tr>
    </table>

    <br/>
    <br/>
    

    <table>
        <tr>
            <th>
                <h3>&nbsp; &nbsp; &nbsp;8</h3>

            </th>
            <th>&nbsp;</th>
            <th>
                <h4>Drafts</h4>
            </th>

        </tr>

        <tr>
            <th>
                <h3>&nbsp; &nbsp; &nbsp;7</h3>

            </th>
            <th>&nbsp;</th>
            <th>
                <h4>Canceled</h4>
            </th>

        </tr>

        <tr>
            <th>
                <h3>&nbsp; &nbsp; &nbsp;4</h3>

            </th>
            <th>&nbsp;</th>
            <th>
                <h4>Executing</h4>
            </th>

        </tr>

        <tr>
            <th>
                <h3>&nbsp; &nbsp; &nbsp;3</h3>

            </th>
            <th>&nbsp;</th>
            <th>
                <h4>Completed</h4>
            </th>

        </tr>
    </table>
    
</div>

<div class="dash-model-work-plans">
    <table>
        <tr>
            <th>
                <h4 style="margin-top: 15px; margin-left: 10px;">MY WORK PLANS</h4>
            </th>
            
            
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>
                <img height="23" width="23" style="margin-top: 10px;" src="assets/paper.png" alt="">
            </th>
            <th>
                <h3>8</h3>
            </th>
            
        </tr>
    </table>

    <br/>
    <br/>
    

    <table>
        <tr>
            <th>
                <h3>&nbsp; &nbsp; &nbsp;8</h3>

            </th>
            <th>&nbsp;</th>
            <th>
                <h4>Drafts</h4>
            </th>

        </tr>

        <tr>
            <th>
                <h3>&nbsp; &nbsp; &nbsp;7</h3>

            </th>
            <th>&nbsp;</th>
            <th>
                <h4>Canceled</h4>
            </th>

        </tr>

        <tr>
            <th>
                <h3>&nbsp; &nbsp; &nbsp;4</h3>

            </th>
            <th>&nbsp;</th>
            <th>
                <h4>Executing</h4>
            </th>

        </tr>

        <tr>
            <th>
                <h3>&nbsp; &nbsp; &nbsp;3</h3>

            </th>
            <th>&nbsp;</th>
            <th>
                <h4>Completed</h4>
            </th>

        </tr>
    </table>
    
</div>

<div class="dash-model-safety-docs">
    <table>
        <tr>
            <th>
                <h4 style="margin-top: 15px; margin-left: 10px;">MY SAFETY DOCS</h4>
            </th>
            
            
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>
                <img height="23" width="23" style="margin-top: 10px;" src="assets/paper.png" alt="">
            </th>
            <th>
                <h3>8</h3>
            </th>
            
        </tr>
    </table>

    <br/>
    <br/>
    

    <table>
        <tr>
            <th>
                <h3>&nbsp; &nbsp; &nbsp;8</h3>

            </th>
            <th>&nbsp;</th>
            <th>
                <h4>Drafts</h4>
            </th>

        </tr>

        <tr>
            <th>
                <h3>&nbsp; &nbsp; &nbsp;7</h3>

            </th>
            <th>&nbsp;</th>
            <th>
                <h4>Canceled</h4>
            </th>

        </tr>

        <tr>
            <th>
                <h3>&nbsp; &nbsp; &nbsp;4</h3>

            </th>
            <th>&nbsp;</th>
            <th>
                <h4>Executing</h4>
            </th>

        </tr>

        <tr>
            <th>
                <h3>&nbsp; &nbsp; &nbsp;3</h3>

            </th>
            <th>&nbsp;</th>
            <th>
                <h4>Completed</h4>
            </th>

        </tr>
    </table>
    
</div>

<div class="dash-model-incident-charts">
    
    <h3 style="margin-left: 30px; margin-top: 15px;"> INCIDENTS<button  style="margin-left: 450px;"><img style="margin-top: -5px;" height="20" width="20" src="assets/settings-solid.png" alt=""></button> </h3>
    <div style="display: block">
        <canvas mdbChart
            [chartType]="chartTypeLine"
            [datasets]="chartDatasetsLine"
            [labels]="chartLabelsLine"
            [colors]="chartColorsLine"
            [options]="chartOptionsLine"
            [legend]="true"
            (chartHover)="chartHoveredLine($event)"
            (chartClick)="chartClickedLine($event)">
        </canvas>
      </div>
    
    
</div>

<div class="dash-model-documents-charts">
    <h3 style="margin-left: 25px; margin-top: 15px;">DOCUMENTS</h3>


    
        <canvas mdbChart
            [chartType]="chartTypePie"
            [datasets]="chartDatasetsPie"
            [labels]="chartLabelsPie"
            [colors]="chartColorsPie"
            [options]="chartOptionsPie"
            [legend]="true"
            (chartHover)="chartHoveredPie($event)"
            (chartClick)="chartClickedPie($event)">
        </canvas>
  
</div>

<div>
    <button routerLink="/userInfo">User info</button>
</div>


<app-side-bar ></app-side-bar>