


<div class="dash-model-incindents">
    <table>
        <tr>
            <th>
                <h4 style="margin-top: 15px; margin-left: 10px;">
                    <a routerLink="/incidents">                       
                    <span class="title">Incindenti </span></a>
                </h4>
            </th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>
                <img height="23" width="23" style="margin-top: 10px;" src="assets/w9.png" alt="">
            </th>
            <th>
                <h3>{{numbers[0]}}</h3>
            </th>
            
        </tr>
    </table>

    <br/>
    <br/>
    

    
</div>

<div class="dash-model-work-plans">
    <table>
        <tr>
            <th>
                <h4 style="margin-top: 15px; margin-left: 10px;">
                    <a routerLink="/requests">
                    <span class="title">Work Requests</span></a></h4>
            </th>
            
            
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>
                <img height="23" width="23" style="margin-top: 10px;" src="assets/paper.png" alt="">
            </th>
            <th>
                <h3>{{numbers[1]}}</h3>
            </th>
            
        </tr>
    </table>

    <br/>
    <br/>
    

    

    
</div>

<div class="dash-model-safety-docs">
    <table>
        <tr>
            <th>
                <h4 style="margin-top: 15px; margin-left: 10px;">
                    <a routerLink="/safety">
                        <span class="title">Safety Document </span></a></h4>
            </th>
            
            
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>
                <img height="23" width="23" style="margin-top: 10px;" src="assets/paper.png" alt="">
            </th>
            <th>
                <h3>{{numbers[2]}}</h3>
            </th>
            
        </tr>
    </table>

    <br/>
    <br/>
    

    
    
</div>

<div class="dash-model-incident-charts">
    
    <h3 style="margin-left: 30px; margin-top: 15px;"> INCIDENTS </h3>
    <div style="display: block">
        <canvas mdbChart
            [chartType]="chartTypeLine"
            [datasets]="chartDatasetsLine"
            [labels]="chartLabelsLine"
            [colors]="chartColorsLine"
            [options]="chartOptionsLine"
            [legend]="true"
            (chartHover)="chartHoveredLine($event)"
            (chartClick)="chartClickedLine($event)">
        </canvas>
      </div>
    
    
</div>

<div class="dash-model-documents-charts">
    <h3 style="margin-left: 25px; margin-top: 15px;">DOCUMENTS</h3>


    
        <canvas mdbChart
            [chartType]="chartTypePie"
            [datasets]="chartDatasetsPie"
            [labels]="chartLabelsPie"
            [colors]="chartColorsPie"
            [options]="chartOptionsPie"
            [legend]="true"
            (chartHover)="chartHoveredPie($event)"
            (chartClick)="chartClickedPie($event)">
        </canvas>
  
</div>




<app-side-bar ></app-side-bar>