<div class="tabela-div">


    <button style="position: absolute; margin-top: 15px; left: 250px;" class="btn btn-dark" (click)="onButtonClick()" >Pick one</button>
  <div class="tabela">
    <table class="table table-striped">
      <tr>
        <th>Id:</th>
        <th>{{id}}</th>
      </tr>

      <tr>
        <th>Tip:</th>
        <th>{{tip}}</th>
      </tr>
      <tr>
        <th>Naziv:</th>
        <th>{{naziv}}</th>
      </tr>
      <tr>
        <th>Adresa:</th>
        <th>{{adresa}}</th>
      </tr>
      <tr>
        <th>Koordinate:</th>
        <th>{{koordinate}}</th>
      </tr>
    </table>
  </div>
</div>
