<div >


    
  <div >
    <table class="table table-striped">
      <tr>
        <th>Id:</th>
        <th>{{id}}</th>
      </tr>

      <tr>
        <th>Tip:</th>
        <th>{{tip}}</th>
      </tr>
      <tr>
        <th>Naziv:</th>
        <th>{{naziv}}</th>
      </tr>
      <tr>
        <th>Adresa:</th>
        <th>{{adresa}}</th>
      </tr>
      <tr>
        <th>Koordinate:</th>
        <th>{{koordinate}}</th>
      </tr>
      <tr>
        <button style="margin-left: 25px; margin-top: 20px;" class="btn btn-dark" (click)="onButtonClick()" >Pick one</button>

      </tr>
    </table>
  </div>
</div>
