
<div class="tabela-link">

    <table class="table table-borderless">
      
          <tr>
            <th scope="col"><a routerLink="./">
              <button  type="button" class="btn btn-link">Basic</button></a></th>
          </tr>
          <tr>
            <th scope="col"><a routerLink="devices">
              <button  type="button" class="btn btn-link">Devices</button></a></th>
          </tr>
          <tr>
            <th scope="col"><a routerLink="resolution">
              <button  type="button" class="btn btn-link">Resolution</button></a></th>
          </tr>

            <tr>
            <th scope="col"><a routerLink="calls">
              <button  type="button" class="btn btn-link">Calls</button></a></th>
          </tr>
            <tr>
              <th scope="col"><a routerLink="crew">
                <button  type="button" class="btn btn-link">Crew</button></a></th>
          </tr>
          <tr>
            <th scope="col"><a routerLink="multimedia">
              <button  type="button" class="btn btn-link">Multimedia Attachments</button></a></th>
          </tr>
          <tr>
            <th scope="col"><a routerLink="equipment">
              <button  type="button" class="btn btn-link">Equipment</button></a></th>
          </tr>

      </table>




</div>

<div class="content">

<router-outlet></router-outlet>
</div>

<app-side-bar ></app-side-bar>
