
<div class="tabela-link">

    <table class="table table-borderless">
      
          <tr>
            <th scope="col"><a href="/register">Basic Information</a></th>
          </tr>
          <tr>
            <th scope="col"><a href="">Devices</a></th>
          </tr>
          <tr>
            <th scope="col"><a href="">Resolution</a></th>
          </tr>

            <tr>
            <th scope="col"><a href="">Calls</a></th>
          </tr>
            <tr>
            <th scope="col"><a href="">Crew</a></th>
          </tr>
          <tr>
            <th scope="col"><a href="">Multimedia Attachments</a></th>
          </tr>
          <tr>
            <th scope="col"><a href="">Equipment</a></th>
          </tr>

      </table>




</div>

<div class="content">
<app-incident-new style="margin-top: 20px ; margin-right: 20px;"></app-incident-new>
</div>

<app-side-bar ></app-side-bar>
