<div>

    <table>

        <tr style="margin-top: 50px;position: absolute">
            <th><label style="margin-right: 65px;">Reason: </label></th>

            <th>  <input class="form-control" (input)="onChangeReason($event.target.value)" type="text" /></th>
        </tr>

        <tr style="margin-top: 150px;position: absolute">
            <th><label style="margin-right: 50px;">Comment:</label></th>

            <th>  <input class="form-control" (input)="onChangeComment($event.target.value)" type="text" /></th>
        </tr>
        <tr style="margin-top: 250px;position: absolute">
            <th><label style="margin-right: 70px;">Hazard:</label></th>

            <th>  <input class="form-control" (input)="onChangeHazard($event.target.value)" type="text" /></th>
        </tr>
    </table>


</div>
<div class="ModalDiv">

    <button class="btn btn-dark" (click)="openDialog()">Pick one</button>





</div>