.tabela-link{

position: absolute;
border: 1px black;
border-style: solid;
top: 100px;
left: 100px;
width: 250px;
}

.tabela-link table tr th:hover{

background: gray;

}
.content{

position: absolute;
top: 100px;
left: 400px;
border: 1px black;
border-style: solid;
width: 60%;
height: 500px;
border-radius: 35px;
background: gainsboro;
border: 4px lightgray;
border-style: outset;
padding-left: 25px;

padding-right: 25px;
padding-bottom: 15px;


}


.reg-comp{

    position: absolute;
    top: 20px;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-radius: 35px;
    background: gainsboro;
    border: 4px lightgray;
    border-style: outset;
}