<h1>Napravi incident molim te</h1>

<table>
  <tr>
    <th>
      <div class="left">
        <p>Incident ID:</p>
        <input class="form-control" (input)="onChangeIncId($event.target.value)" type="text" />
        <table>

          <tr>

            <th>
              <p>Type:</p>
              <select class="form-control" (change)="onChangeType($event.target.value)">
                <option [selected]="type" *ngFor="let opcija of niz">
                  {{ opcija }}
                </option>
              </select>
            </th>

            <th>
              <div class="confi">
                <p>Confirmed:</p>
                <label class="radio">
                  <input 
                    (change)="onChangeConfTrue()"
                    name="rb1"
                    type="radio"
                  />
                  Yes
                  <input
                    (change)="onChangeConfFalse()"
                    name="rb1"
                    type="radio"
                  />
                  No
                </label>
              </div>
            </th>

          </tr>
        </table>
        <p>Status:</p>
        <input class="form-control" (input)="onChangeStatus($event.target.value)" type="text" />

        <p>Description:</p>
        <input (input)="onChangeDesc($event.target.value)" type="text"  class="form-control"/>
      </div>
    </th>
    
    <th>
      <div class="mid">
        <p>ETA:</p>
        <input (input)="onChangeEta($event.target.value)" type="date" class="form-control" />

        <p>ATA:</p>
        <input (input)="onChangeAta($event.target.value)" type="date" class="form-control"/>

        <p>Affected customers:</p>
        <input
          (input)="onChangeAffectedCustomers($event.target.value)"
          type="text" class="form-control"
        />

        <p>Outage time:</p>
        <input (input)="onChangeOutageTime($event.target.value)" type="date"  class="form-control"/>
      </div>
    </th>

    <th>
      <div class="right">
        <p>ETR:</p>
        <input (input)="onChangeEtr($event.target.value)" type="date" class="form-control" />

        <p>Calls:</p>
        <input (input)="onChangeCalls($event.target.value)" type="text"class="form-control" />

        <p>Voltage [kV]:</p>
        <input (input)="onChangeVoltage($event.target.value)" type="text"class="form-control" />

        <p>Scheduled time:</p>
        <input
          (input)="onChangeScheduledTime($event.target.value)"
          type="date"class="form-control"
        />
      </div>
    </th>
  </tr>
</table>
<div>
  <br />
  <button class="btn btn-dark" (click)="gotovoFja()">
    Done
  </button>
</div>
