<table>
    <tr>
        <th>
        <div>
            <p>
              <mat-form-field
                appearance="outline"
                style="margin-left: 15px; width: 200px"
              >
                <mat-label>ID Plana</mat-label>
                <input
                  matInput
                  (input)="onChangeID($event.target.value)"
                  placeholder="ID"
                  [formControl]="IDPlanaCon"
                  required
                />
                <mat-error *ngIf="IDPlanaCon.invalid">{{
                  getErrorMessageId()
                }}</mat-error>
                <!--mat-hint>Hint</mat-hint-->
              </mat-form-field>
            </p>
          </div>
        </th>
    </tr>
    <tr>
        <th>
            <div>
                <mat-form-field appearance="outline" style="margin-left: 15px; width: 200px">
                  <mat-label>Type</mat-label>
                  <mat-select [(ngModel)]="type" name="type">
                    <mat-option *ngFor="let opcija of tipovi" [value]="opcija">
                      {{opcija}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
          </th>
          <th>
            <div>
                <p>
                  <mat-form-field
                    appearance="outline"
                    style="margin-left: 15px; top: 5px; width: 200px"
                  >
                    <mat-label>Phone No.</mat-label>
                    <input
                      matInput
                      (input)="onChangePhoneNo($event.target.value)"
                      placeholder="Phone No."
                      [formControl]="PhoneNoCon"
                      required
                    />
                    <mat-error *ngIf="PhoneNoCon.invalid">{{
                      getErrorMessagePhoneNo()
                    }}</mat-error>
                    <!--mat-hint>Hint</mat-hint-->
                  </mat-form-field>
                </p>
              </div>
        </th>
    </tr>
    <tr>
        <th>
            <div>
                <p>
                  <mat-form-field
                    appearance="outline"
                    style="margin-left: 15px; width: 200px"
                  >
                    <mat-label>Ulica</mat-label>
                    <input
                      matInput
                      (input)="onChangeUlica($event.target.value)"
                      placeholder="Ulica"
                      [formControl]="UlicaCon"
                      required
                    />
                    <mat-error *ngIf="UlicaCon.invalid">{{
                      getErrorMessageUlica()
                    }}</mat-error>
                    <!--mat-hint>Hint</mat-hint-->
                  </mat-form-field>
                </p>
              </div>
        </th>
          <th>
            <div>
                <p>
                  <mat-form-field
                    appearance="outline"
                    style="margin-left: 15px; width: 200px"
                  >
                    <mat-label>Company</mat-label>
                    <input
                      matInput
                      (input)="onChangeCompany($event.target.value)"
                      placeholder="Company"
                      [formControl]="CompanyCon"
                      required
                    />
                    <mat-error *ngIf="CompanyCon.invalid">{{
                      getErrorMessageCompany()
                    }}</mat-error>
                    <!--mat-hint>Hint</mat-hint-->
                  </mat-form-field>
                </p>
              </div>
          </th>
    </tr>
    


    <tr>
        <th>
            <div>
                <mat-form-field
                  appearance="outline"
                  style="margin-left: 15px; width: 200px"
                >
                  <mat-label>Start Date/Time</mat-label>
                  <input
                    matInput
                    (dateInput)="onChangeStartTime($event.target.value)"
                    [matDatepicker]="picker1"
                    [formControl]="StartTimeCon"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker1"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error *ngIf="StartTimeCon.invalid">{{
                    getErrorMessageStartTime()
                  }}</mat-error>
                </mat-form-field>
              </div>

        </th>
        <th>
            <div>
                <mat-form-field
                  appearance="outline"
                  style="margin-left: 15px; width: 200px"
                >
                  <mat-label>End Date/Time</mat-label>
                  <input
                    matInput
                    (dateInput)="onChangeEndTime($event.target.value)"
                    [matDatepicker]="picker2"
                    [formControl]="EndTimeCon"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker2"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                  <mat-error *ngIf="EndTimeCon.invalid">{{
                    getErrorMessageEndTime()
                  }}</mat-error>
                </mat-form-field>
              </div>
        </th>
        </tr>
        <tr>
            <th>
            <div>
                <p>
                  <mat-form-field
                    appearance="outline"
                    style="margin-left: 15px; width: 200px"
                  >
                    <mat-label>Purpose</mat-label>
                    <input
                      matInput
                      (input)="onChangePurpose($event.target.value)"
                      placeholder="Purpose"
                      [formControl]="PurposeCon"
                      required
                    />
                    <mat-error *ngIf="PurposeCon.invalid">{{
                      getErrorMessagePurpose()
                    }}</mat-error>
                    <!--mat-hint>Hint</mat-hint-->
                  </mat-form-field>
                </p>
              </div>
            </th>
            <th>
                <div>
                    <p>
                      <mat-form-field
                        appearance="outline"
                        style="margin-left: 15px; width: 200px"
                      >
                        <mat-label>Details</mat-label>
                        <input
                          matInput
                          (input)="onChangeDetails($event.target.value)"
                          placeholder="Details"
                          [formControl]="DetailsCon"
                          required
                        />
                        <mat-error *ngIf="DetailsCon.invalid">{{
                          getErrorMessageDetails()
                        }}</mat-error>
                        <!--mat-hint>Hint</mat-hint-->
                      </mat-form-field>
                    </p>
                  </div>
                  
            </th>
            <th>
                <div>
                    <p>
                      <mat-form-field
                        appearance="outline"
                        style="margin-left: 15px; width: 200px"
                      >
                        <mat-label>Notes</mat-label>
                        <input
                          matInput
                          (input)="onChangeNotes($event.target.value)"
                          placeholder="Notes"
                          [formControl]="NotesCon"
                          required
                        />
                        <mat-error *ngIf="NotesCon.invalid">{{
                          getErrorMessageNotes()
                        }}</mat-error>
                        <!--mat-hint>Hint</mat-hint-->
                      </mat-form-field>
                    </p>
                  </div>
            </th>
            
            
        </tr>





</table>
<div>
    <button (click)="submit()" style="margin-left: 300px;" class="btn btn-dark" [disabled]="!dozvola" >Done</button>
  
  </div>