<div class="buttons-div">


<a href="/new" class="btn btn-outline-dark" role="button" aria-pressed="true" style="width: 100px; height: 50px; margin-right: 50px;">New</a>
<div style="margin-right: 850px;" class="btn-group" role="group">

    <button style="width: 100px; height: 50px;" type="button" class="btn btn-outline-dark">All </button>
    <button style="width: 100px; height: 50px;" type="button" class="btn btn-outline-dark">Mine</button>

</div>
<button style=" width: 100px; height: 50px; position: absolute;" type="button"class="btn btn-outline-dark" >Filter</button>

</div>

<div class="tabela-div">


    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Start Date</th>
            <th scope="col">Phone No.</th>
            <th scope="col">Status</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Slavisa</td>
            <td>Milakovic</td>
            <td>Brcko</td>
            <td>FTN</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Djurdja</td>
            <td>Citakovic</td>
            <td>Valjevo</td>
            <td>FTN</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Aleksa</td>
            <td>Sarsanski</td>
            <td>Celarevo</td>
            <td>FTN</td>
          </tr>
          
        </tbody>
      </table>




</div>


<app-side-bar ></app-side-bar>
