<div class="userInfo-comp" >
    <table>

        <tr>
            &nbsp;
        </tr>
        <tr>Logged User:</tr>
        <tr>
            &nbsp;
        </tr>
        <tr>
            
            <th>
                <mat-form-field>
                    <mat-label style="color: black;">First name:</mat-label>
                    <input  style="color: black;" matInput disabled value="{{korisnik.firstName}}">
                  </mat-form-field>
            </th>
        </tr>
    
        <tr>
            <th>
                <mat-form-field>
                    <mat-label style="color: black;">Last name:</mat-label>
                    <input  style="color: black;" matInput disabled value="{{korisnik.lastName}}">
                  </mat-form-field>
            </th>
        </tr>
    
        <tr>
            <th>
                <mat-form-field>
                    <mat-label style="color: black;">Email:</mat-label>
                    <input  style="color: black;" matInput disabled value="{{korisnik.eMail}}">
                  </mat-form-field>
            </th>
        </tr>
    
        <tr>
            <th>
                <mat-form-field>
                    <mat-label style="color: black;">Address:</mat-label>
                    <input  style="color: black;" matInput disabled value="{{korisnik.adress}}">
                  </mat-form-field>
            </th>
        </tr>
    
        <tr>
            <th>
                <mat-form-field>
                    <mat-label style="color: black;">Date of birth:</mat-label>
                    <input  style="color: black;" matInput disabled value="{{korisnik.datumRodjenja}}">
                  </mat-form-field>
            </th>
        </tr>
    
    
    </table>
</div>

