<div class="devices-div">
<div class="buttons-div">
    <button style="margin-left: 10px; margin-top: 10px; width: 100px; height: 50px; position: absolute;" type="button"class="btn btn-outline-dark" >Add</button>
    <button style="margin-left: 800px; margin-top: 10px; width: 100px; height: 50px; position: absolute;" type="button"class="btn btn-outline-dark" >Filter</button>
</div>

<div class="div-tabela">

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Coordinates</th>
            <th scope="col">Address</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Slavisa</td>
            <td>Milakovic</td>
            <td>Brcko</td>
            <td>FTN</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Djurdja</td>
            <td>Citakovic</td>
            <td>Valjevo</td>
            <td>FTN</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Aleksa</td>
            <td>Sarsanski</td>
            <td>Celarevo</td>
            <td>FTN</td>
          </tr>
          
        </tbody>
      </table>

</div>



</div>
