
  <div class="reg-comp">
    <h2 style="margin-left: 50px">Registruj se</h2>
    <table>
      <div class="levi">
        <div>
          <p>
            <mat-form-field appearance="outline"   style="width: 230px;">
              <mat-label>Enter your name</mat-label>
              <input
                matInput
                (input)="onChangeFirstName($event.target.value)"
                placeholder="First Name"
                [formControl]="firstNameCon"
                required
              
              />
              <mat-error *ngIf="firstNameCon.invalid">{{
                getErrorMessageFirstName()
              }}</mat-error>
              <!--mat-hint>Hint</mat-hint-->
            </mat-form-field>
          </p>
        </div>

        <div>
          <p>
            <mat-form-field appearance="outline" style="width: 230px;">
              <mat-label>Enter your Last Name</mat-label>
              <input
                matInput
                (input)="onChangeLastName($event.target.value)"
                placeholder="Last Name"
                [formControl]="lastNameCon"
                required
              />
              <mat-error *ngIf="lastNameCon.invalid">{{
                getErrorMessageLastName()
              }}</mat-error>
              <!--mat-hint>Hint</mat-hint-->
            </mat-form-field>
          </p>
        </div>

        <div>
          <p>
            <mat-form-field appearance="outline" style="width: 230px;">
              <mat-label>Enter your Username</mat-label>
              <input
                matInput
                (input)="onChangeUsername($event.target.value)"
                placeholder="Username"
                [formControl]="usernameCon"
                required
              />
              <mat-error *ngIf="usernameCon.invalid">{{
                getErrorMessageUsername()
              }}</mat-error>
              <!--mat-hint>Hint</mat-hint-->
            </mat-form-field>
          </p>
        </div>

        <div>
          <mat-form-field appearance="outline" style="width: 230px;">
            <mat-label>Enter your password</mat-label>
            <input
              matInput
              (input)="onChangePassword($event.target.value)"
              [type]="hide ? 'password' : 'text'"
              [formControl]="passwordCon"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="passwordCon.invalid">{{
              getErrorMessagePassword()
            }}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" style="width: 230px;">
            <mat-label>Repeat your password</mat-label>
            <input
              matInput
              (input)="onChangeRepeatPassword($event.target.value)"
              [type]="hide ? 'password' : 'text'"
              [formControl]="repeatpasswordCon"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="repeatpasswordCon.invalid">{{
              getErrorMessageRepeatPassword()
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="desni">
        <div>
          <mat-form-field appearance="outline" style="width: 230px;">
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              (input)="onChangeEmailAddress($event.target.value)"
              placeholder="pat@example.com"
              [formControl]="email"
              required
            />
            <mat-error *ngIf="email.invalid">{{
              getErrorMessageEmail()
            }}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" style="width: 230px">
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="type" name="type">
              <mat-option *ngFor="let opcija of tipovi" [value]="opcija">
                {{opcija}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" style="width: 230px;">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              (dateInput)="onChangeDateOfBirth($event.target.value)"
              [matDatepicker]="picker"
              [formControl]="dateOfBirthCon"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="dateOfBirthCon.invalid">{{
              getErrorMessageDate()
            }}</mat-error>
          </mat-form-field>
        </div>

        <div>
          <p>
            <mat-form-field appearance="outline" style="width: 230px;">
              <mat-label>Enter your adress</mat-label>
              <input
                matInput
                (input)="onChangeAddress($event.target.value)"
                placeholder="Adress"
                [formControl]="addressCon"
                required
              />
              <mat-error *ngIf="addressCon.invalid">{{
                getErrorMessageAddress()
              }}</mat-error>
              <!--mat-hint>Hint</mat-hint-->
            </mat-form-field>
          </p>
        </div>
      </div>
    </table>
    <form>
      <div class="btn" style="margin-left: 60px">
        <button class="btn btn-dark" (click)="metodaAjmo()" [disabled]="!dozvola">Done</button>
      </div>
    </form>
  </div>

