<div class="div-tabela">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Naziv</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Bravari</td>
        <td><button class="btn btn-dark">Summon us</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Stolari</td>
        <td><button class="btn btn-dark">Summon us</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Elektricari</td>
        <td><button class="btn btn-dark">Summon us</button></td>
      </tr>
    </tbody>
  </table>
</div>
