.reg-right{

position: absolute;
top: 83px;


}
.btn{

position: absolute;
margin-top: 20px;
margin-left: 150px;

}

.input-textbox-left{
    margin-left: 40px;

}

.levi{
    margin-left: 10px;
}

.desni{
    margin-left: 10px;
}