<div class="reg-comp">
<h2  >Registruj se</h2>
<table>

  
    
      <div class="levi">
        <div >
        
          <label for="firstName">First name:</label>
          <input
            style="margin-left: 62px;"
            required
            class="input-textbox-left"
            (input)="onChangeFirstName($event.target.value)"
            type="text"
            name="firstName"
            ngModel
            #firstName="ngModel"
            
          />
          <div  class="alert alert-danger" style="width: 190px; margin-left: 95px;" *ngIf="firstName.touched && !firstName.valid">
            Ne sme biti prazno!
          </div> 
        </div> 
      
        <div >
          
          <label for="lastName">Last name:</label>
          <input
          style="margin-left: 62px;"
            required
            class="input-textbox-left"
            (input)="onChangeLastName($event.target.value)"
            type="text"
            name="lastName"
            ngModel
            #lastName="ngModel"
            
          />
          <div  class="alert alert-danger" style="width: 190px; margin-left: 95px;" *ngIf="lastName.touched && !lastName.valid">
            Ne sme biti prazno!
          </div> 
        </div> 
      
        <div >
          
          <label for="username">Username:</label>
          <input
          style="margin-left: 64px;"
            required
            class="input-textbox-left"
            (input)="onChangeUsername($event.target.value)"
            type="text"
            name="username"
            ngModel
            #username="ngModel"
            
          />
          <div  class="alert alert-danger" style="width: 190px; margin-left: 95px;" *ngIf="username.touched && !username.valid">
            Ne sme biti prazno!
          </div> 
        </div> 
      
        <div>
          
          <label for="password">Password: &nbsp;</label>
        
          <input
          style="margin-left: 62px;"
            required
            class="input-textbox-left"
            (input)="onChangePassword($event.target.value)"
            type="text"
            name="password"
            ngModel
            #password="ngModel"
            
          />
          <div  class="alert alert-danger" style="width: 190px; margin-left: 95px;" *ngIf="password.touched && !password.valid">
            Ne sme biti prazno!
          </div> 
      
        </div> 
    
      </div>
    

    
      <div class="desni">

        <div >
        
          <label for="email">Email address:</label>
          <input
            
            required
            class="input-textbox-left"
            (input)="onChangeEmailAddress($event.target.value)"
            type="text"
            name="email"
            ngModel
            #email="ngModel"
            
          />
          <div  class="alert alert-danger" style="width: 190px; margin-left: 95px;" *ngIf="email.touched && !email.valid">
            Ne sme biti prazno!
          </div> 
        </div> 
      
        <div >
          
          <label for="birthday">Date of Birth:</label>
          <input
          style="margin-left: 47px;"
            required
            class="input-textbox-left"
            (input)="onChangeDateOfBirth($event.target.value)"
            type="text"
            name="birthday"
            ngModel
            #birthday="ngModel"
            
          />
          <div  class="alert alert-danger" style="width: 190px; margin-left: 95px;" *ngIf="birthday.touched && !birthday.valid">
            Ne sme biti prazno!
          </div> 
        </div> 
      
        <div >
          
          <label for="address">Address:</label>
          <input
          style="margin-left: 79px;"
            required
            class="input-textbox-left"
            (input)="onChangeAddress($event.target.value)"
            type="text"
            name="address"
            ngModel
            #address="ngModel"
            
          />
          <div  class="alert alert-danger" style="width: 190px; margin-left: 95px;" *ngIf="address.touched && !address.valid">
            Ne sme biti prazno!
          </div> 
        </div> 
      
    
      </div>
    

  


  

</table>
<form>
  <br/>
  <br/>



  <div class="btn">
    <br />
    <button (click)="metodaAjmo()" style="background-color: lightblue">
      Done
    </button>
  </div>

</form>

</div>