<div class="userInfo-comp">
    <table>

        <tr>
            &nbsp;
        </tr>
        <tr>Logged User:</tr>
        <tr>
            &nbsp;
        </tr>
        <tr>
            
            <th>
                <mat-form-field>
                    <mat-label style="color: black;">First name:</mat-label>
                    <input  style="color: black;" matInput disabled value="Roger">
                  </mat-form-field>
            </th>
        </tr>
    
        <tr>
            <th>
                <mat-form-field>
                    <mat-label style="color: black;">Last name:</mat-label>
                    <input  style="color: black;" matInput disabled value="Federer">
                  </mat-form-field>
            </th>
        </tr>
    
        <tr>
            <th>
                <mat-form-field>
                    <mat-label style="color: black;">Email:</mat-label>
                    <input  style="color: black;" matInput disabled value="roger.fed@gmail.com">
                  </mat-form-field>
            </th>
        </tr>
    
        <tr>
            <th>
                <mat-form-field>
                    <mat-label style="color: black;">Address:</mat-label>
                    <input  style="color: black;" matInput disabled value="Roger">
                  </mat-form-field>
            </th>
        </tr>
    
        <tr>
            <th>
                <mat-form-field>
                    <mat-label style="color: black;">Date of birth:</mat-label>
                    <input  style="color: black;" matInput disabled value="15.08.1981.">
                  </mat-form-field>
            </th>
        </tr>
    
    
    </table>
</div>
